---
import '../styles/Contacto.css';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escuela Primaria Vicente Guerrero</title>
  <link rel="stylesheet" href="Contacto.css">
</head>

<body>
<header class="fondo">
  <div class="nombre">
    <h2>Esc. Prim. Vicente Guerrero</h2>
    <h2>C. C .T. 24DPB0301B</h2>
  </div>

  
  <nav class="enlaces" id="menu">
     <a href={${import.meta.env.BASE_URL}/}>Inicio</a>
     <a href={${import.meta.env.BASE_URL}/calendario}>Calendario Escolar</a>
     <a href={${import.meta.env.BASE_URL}/contactos}>Contactos</a>
  </nav>
</header>


<div class="hamburguesa" id="btnHamburguesa">&#9776;</div>


<nav class="menu-lateral" id="menuLateral">
    <a href="./">Inicio</a>
    <a href="Calendario">Calendario Escolar</a>
    <a href="ContactoS">Contactos</a>
</nav>



<section class="pantalla" id="info">
    <h2> CONTACTO </h2>
    <div class="cards">
      <a href="#ubicacion" class="card">
        <img src="Imagenes/ubicacion.png" alt="ubicacion">
        <h3>Ubicación</h3>
      </a>
      <a href="https://wa.me/524821157222?" target="_blank" class="card">
        <img src="Imagenes/whatsapp.png" alt="telefono">
        <h3>Whatsapp</h3>
      </a>
      <a href="mailto:benit358@gmail.com?" target="_blank" class="card"> 
        <img src="Imagenes/correo.png" alt="correo">
        <h3>Correo Electrónico</h3>
      </a>

      <a href="#derechos" class="card">
        <img src="Imagenes/derechos.png" alt="derechos">
      <h3> Derechos de Autor</h3>
      </a>
    </div>
  </section>



<section class="pantalla" id="ubicacion">
  <h2>Ubicación</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3709.976637812041!2d-98.880798!3d21.586835!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d68b00062042ef%3A0x3ce7240e836c2534!2sEscuela%20Primaria%20Vicente%20Guerrero!5e0!3m2!1ses-419!2smx!4v1776528494278!5m2!1ses-419!2smx">
    loading="lazy" 
  </iframe>
</section>

  <section class="pantalla" id="derechos">
    <div class="autor">
      <h2>Derechos de Autor</h2>
    </div>
    <div class="container">
    
    <div class="bloque-dev">
      <img src="Imagenes/UICSLP.png" alt="Cesar Santos González" class="avatar">
      <h3>Cesar Santos González</h3>
      <p><span>Correo:</span>santoscesar5328@gmail.com</p>
      <p><span>Contacto:</span> 482 113 8684</p>
      <p> ANALISTA DE SISTEMAS Y DISEÑADOR</p>
      <div class="redes">
        <a href="mailto:gonzalezsantoscesar2403@gmail.com" target="_blank"><img src="Imagenes/gmail.png" alt="Gmail"></a>
        <a href="https://wa.me/524821138684" target="_blank"><img src="Imagenes/whatsapp.png" alt="WhatsApp"></a>
        <a href="https://www.facebook.com/share/1DgB2wRMNT/" target="_blank"><img src="Imagenes/facebook.png" alt="Facebook"></a>
      </div>
    </div>

    <div class="bloque-dev">
      <img src="Imagenes/UICSLP.png" alt="Eliomar Reyes Hernández" class="avatar">
      <h3>Lic. Eliomar Reyes Hernández</h3>
      <p><span>Correo:</span> elioorh1001@gmail.com</p>
      <p><span>Contacto:</span> 482 105 4583</p>
       <p>PROGRAMADOR Y DISEÑADOR</p>
      <div class="redes">
        <a href="mailto:elioorh1001@gmail.com" target="_blank"><img src="Imagenes/gmail.png" alt="Gmail"></a>
        <a href="https://www.instagram.com/eliomar.reyes.75873?igsh=MnQwNnd2djVmOWF0" target="_blank"><img src="Imagenes/instagram.png" alt="Instagram"></a>
        <a href="https://wa.me/524821054583" target="_blank"><img src="Imagenes/whatsapp.png" alt="WhatsApp"></a>
        <a href="https://www.facebook.com/share/1CeYa1ca1t/" target="_blank"><img src="Imagenes/facebook.png" alt="Facebook"></a>
      </div>
    </div>

    
    <div class="bloque-dev">
      <img src="Imagenes/UICSLP.png" alt="Misael Santos Santiago" class="avatar">
      <h3>Lic. Misael Santos Santiago</h3>
      <p><span>Correo:</span> misaelsantose301@gmail.com</p>
      <p><span>Contacto:</span> 489 127 9730</p>
      <p>PROGRAMADOR</p>
      <div class="redes">
        <a href="mailto:misasantose301@gmail.com" target="_blank"><img src="Imagenes/gmail.png" alt="Gmail"></a>
        <a href="https://www.instagram.com/hirai_missa?igsh=MWR6dHB6ZDR3b284Mw==" target="_blank"><img src="Imagenes/instagram.png" alt="Instagram"></a>
        <a href="https://wa.me/524891279730" target="_blank"><img src="Imagenes/whatsapp.png" alt="WhatsApp"></a>
       
      </div>
    </div>

    
    <div class="bloque-dev">
      <img src="Imagenes/UICSLP.png" alt="Luis Mario Reyes Cruz" class="avatar">
      <h3>Lic. Luis Mario Reyes Cruz</h3>
      <p><span>Correo:</span> luismarioreyescruz@gmail.com</p>
      <p><span>Contacto:</span> 489 130 2632</p>
      <p>ANALISTA DE SISTEMAS</p>
      <div class="redes">
        <a href="mailto:luismarioreyescruz@gmail.com" target="_blank"><img src="Imagenes/gmail.png" alt="Gmail"></a>
        <a href="https://wa.me/524891302632" target="_blank"><img src="Imagenes/whatsapp.png" alt="WhatsApp"></a>
        <a href="https://www.facebook.com/share/1BnvBeFvXd/" target="_blank"><img src="Imagenes/facebook.png" alt="Facebook"></a>
      </div>
    </div>
  </div>
  </section>

   <footer>Primaria Vicente Guerrero @ 2026</footer> 

<script>
import '../scripts/Contacto.js';
</script>

</body>
</html>
