---
import '../styles/Inscripciones.css';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escuela Primaria Vicente Guerrero</title>
  <link rel="stylesheet" href="Inscripciones.css">
</head>

<body>
<header class="fondo">
  <div class="nombre">
    <h2>Esc. Prim. Vicente Guerrero</h2>
    <h2>C. C .T. 24DPB0301B</h2>
  </div>

  
  <nav class="enlaces" id="menu">
    <a href="./">Inicio</a>
    <a href="Calendario">Calendario Escolar</a>
    <a href="Contacto">Contactos</a>
  </nav>
</header>

<!-- Botón hamburguesa -->
<div class="hamburguesa" id="btnHamburguesa">&#9776;</div>

<!-- Menú lateral -->
<nav class="menu-lateral" id="menuLateral">
   <a href="./">Inicio</a>
    <a href="Calendario">Calendario Escolar</a>
    <a href="Contacto">Contactos</a>
</nav>

<div class="info">
  <h2>Requisitos</h2>
</div>
<section class="contenedor">

<div class="imagen">
  <img src="Imagenes/Preinscripcion.jpg" alt="Requisitos">
</div>
</section>

<div class="bloque-horario">
    <h3>🕒 Horario de Atención</h3>
    <div class="contenido-horario">
        <p><strong>Lunes a Viernes</strong></p>
        <p class="horas">8:00 AM — 1:00 PM</p>
        <hr>
        <p class="nota">Favor de presentarse con su documentación organizada.</p>
    </div>
</div>

<footer>Primaria Vicente Guerrero @ 2026</footer>

<script>
import '../scripts/Inscripciones.js';
</script>

</body>
</html>
